# Node
node_modules/

# Env
.env
.env.*

# Build
dist/
build/

# Logs
logs/
*.log

# Prisma / SQLite
dev.db
*.db

# Docker
docker-compose.override.yml
*.pid

# Sistema
.DS_Store

#AI/Agents
.agents/
skills-lock.json

# Generated config outputs
backend/prisma.config.js
backend/prisma.config.js.map
backend/prisma.config.d.ts
backend/prisma.config.d.ts.map

backend/vitest.config.js
backend/vitest.config.js.map
backend/vitest.config.d.ts
backend/vitest.config.d.ts.map

deployment_plan.md
